In [3]:
#for loop
num=[6,7,8,9]
for x in num:
    x += 3
    print(x)

9
10
11
12

In [12]:
numbers =[6,7,8,9]
total=0
for num in numbers:
    total += num
print(total)

30

In [15]:
#Obtain the first name from a list of name
names =['Paul Chei','nixon duo','alex Chui','Hext gan']
for n in names:
    fname = n.split()[0]
    print(fname)

Paul
nixon
alex
Hext

In [38]:
#seeing the World: Think of at least five places in the world you’d like to 
#visit.
#Store the locations in a list. Make sure the list is not in alphabetical order.
#Print your list in its original order. Don’t worry about printing the list neatly, 
#just print it as a raw Python list.
#Use sorted() to print your list in alphabetical order without modifying the 
#actual list.
#Show that your list is still in its original order by printing it.
#Use sorted() to print your list in reverse alphabetical order without changing the order of the original list.
#Show that your list is still in its original order by printing it again.
#Use reverse() to change the order of your list. Print the list to show that its 
#order has changed.
#Use reverse() to change the order of your list again. Print the list to show 
#it’s back to its original order.
#Use sort() to change your list so it’s stored in alphabetical order. Print the 
#list to show that its order has been changed.
#Use sort() to change your list so it’s stored in reverse alphabetical order.
#Print the list to show that its order has changed
cities=['london','dublin','toronto','mexico','jamaica']
cities.sort()
print(cities)

cities.sort(reverse=True)
print(cities)

cities.sort()
print(cities)

cities.reverse()
print(cities)

cities.sort(reverse=True)
print(cities)

cities.reverse()
print(cities)
cities=['london','dublin','toronto','mexico','jamaica']
print(cities)

['dublin', 'jamaica', 'london', 'mexico', 'toronto']
['toronto', 'mexico', 'london', 'jamaica', 'dublin']
['dublin', 'jamaica', 'london', 'mexico', 'toronto']
['toronto', 'mexico', 'london', 'jamaica', 'dublin']
['toronto', 'mexico', 'london', 'jamaica', 'dublin']
['dublin', 'jamaica', 'london', 'mexico', 'toronto']
['london', 'dublin', 'toronto', 'mexico', 'jamaica']

In [43]:
names = ['vero','hex','guy','len','dave','paul']
for name in names:
    print(name.title() + ", that was very competitive for you!")
    print("I can't wait for the next project," + name.title() + ".")
    print("I love you," + name.title() + ".\n")

Vero, that was very competitive for you!
I can't wait for the next project,Vero.
I love you,Vero.

Hex, that was very competitive for you!
I can't wait for the next project,Hex.
I love you,Hex.

Guy, that was very competitive for you!
I can't wait for the next project,Guy.
I love you,Guy.

Len, that was very competitive for you!
I can't wait for the next project,Len.
I love you,Len.

Dave, that was very competitive for you!
I can't wait for the next project,Dave.
I love you,Dave.

Paul, that was very competitive for you!
I can't wait for the next project,Paul.
I love you,Paul.

In [54]:
pizzas=['pepperoni','chicken','beef']
print(pizzas)
for pizza in pizzas:
    print("I love " + pizza.title() + " pizza" + ".")
    print("I love all the three kinds of pizza" +".")
    print("I love extra cheese on my pizza" + ".\n")

['pepperoni', 'chicken', 'beef']
I love Pepperoni pizza.
I love all the three kinds of pizza.
I love extra cheese on my pizza.

I love Chicken pizza.
I love all the three kinds of pizza.
I love extra cheese on my pizza.

I love Beef pizza.
I love all the three kinds of pizza.
I love extra cheese on my pizza.

In [56]:
for value in range(2,8):
    print(value)

2
3
4
5
6
7

In [57]:
numbers=list(range(2,7))
print(numbers)

[2, 3, 4, 5, 6]

In [60]:
numbers=str(range(2,7))
print(numbers)

range(2, 7)

In [62]:
squares=[]
for value in range(1,11):
    square= value**2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
squares=[]
for value in range(1,7):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36]

In [69]:
calls=[1,2,3,5,7,8,11,20]
min(calls)

calls=[1,2,3,5,7,8,11,20]
max(calls)

calls=[1,2,3,5,7,8,11,20]
sum(calls)

57