In [1]:
person={'name': 'James Bond','age':70,'city':'Nairobi'}
person

{'name': 'James Bond', 'age': 70, 'city': 'Nairobi'}

In [2]:
print(person)

{'name': 'James Bond', 'age': 70, 'city': 'Nairobi'}

In [18]:
name = person['city']
name

TypeError: string indices must be integers

In [28]:
name = person['age']
name

77

In [29]:
x=person['name']
x

'James bond'

In [22]:
a=5+2
print(a)

7

In [23]:
person={'name':'James bond'}
person

{'name': 'James bond'}

In [24]:
person['age']=77
person

{'name': 'James bond', 'age': 77}

In [25]:
person['country']='kenya'
person

{'name': 'James bond', 'age': 77, 'country': 'kenya'}

In [26]:
name=person['age']
name

77

In [30]:
person['age']=55
person

{'name': 'James bond', 'age': 55, 'country': 'kenya'}

In [31]:
a=person['age']
a

55

In [32]:
del person['age']
person

{'name': 'James bond', 'country': 'kenya'}

In [38]:
x = person.pop('country')
x

'kenya'

In [39]:
person

{'name': 'James bond'}

In [41]:
person={'name': 'James bond', 'age': 77, 'country': 'kenya'}
name=person.popitem()
name

('country', 'kenya')

In [42]:
person

{'name': 'James bond', 'age': 77}

In [43]:
name=person.popitem()
name

('age', 77)

In [45]:
person={'name': 'James bond', 'age': 77, 'country': 'kenya'}
age = person.popitem()
age

('country', 'kenya')

In [48]:
person={'name': 'James bond', 'age': 77, 'country': 'kenya'}
for key,value in person.items():
    print(key,value)

name James bond
age 77
country kenya

In [52]:
for keys in person.items():
    print(keys)

('name', 'James bond')
('age', 77)
('country', 'kenya')

In [53]:
for values in person.items():
    print(values)

('name', 'James bond')
('age', 77)
('country', 'kenya')

In [54]:
for m,h in person.items():
    print(m,h)

name James bond
age 77
country kenya

In [55]:
pets={'name':'cat',
     'colour':'black',
     'pet_name':'ginger',
     'origin':'asia'
}
pets

{'name': 'cat', 'colour': 'black', 'pet_name': 'ginger', 'origin': 'asia'}

In [56]:
for name,here in pets.items():
    print(name,here)

name cat
colour black
pet_name ginger
origin asia

In [67]:
for name,here in pets.items():
    print(f'{name.title()}: {here.upper()}')

Name: CAT
Colour: BLACK
Pet_Name: GINGER
Origin: ASIA

In [81]:
red = "\033[1;31m"
blue = "\033[1;34m"
green = "\033[1;32m"
no_color = "\033[0m"
purple = "\033[1;35m"
BOLD = '\033[1m'
for name,here in pets.items():
    print(no_color,BOLD,name.title(),blue,here.upper())

  Name  CAT
  Colour  BLACK
  Pet_Name  GINGER
  Origin  ASIA

In [82]:
cohort = {
    'course': 'Data Science', 
    'start':'Jan', 
    'end': 'Mar',
    'students': [
        {
            'name': 'Njogu',
            'age': 30, 
            'country': 'Kenya',
            'assignment_scores': {'assignment_1': 50, 'assignment_2': 70, 'assignment_3': 65}
        },
        {
            'name': 'Chinedu',
            'age': 29,
            'country': 'Nigeria',
            'assignment_scores': {'assignment_1': 55, 'assignment_2': 60, 'assignment_3': 85}
        }
    ]
}
for key,value in cohort.items():
    print(key,value)

course Data Science
start Jan
end Mar
students [{'name': 'Njogu', 'age': 30, 'country': 'Kenya', 'assignment_scores': {'assignment_1': 50, 'assignment_2': 70, 'assignment_3': 65}}, {'name': 'Chinedu', 'age': 29, 'country': 'Nigeria', 'assignment_scores': {'assignment_1': 55, 'assignment_2': 60, 'assignment_3': 85}}]

In [88]:

print(cohort['students'])

[{'name': 'Njogu', 'age': 30, 'country': 'Kenya', 'assignment_scores': {'assignment_1': 50, 'assignment_2': 70, 'assignment_3': 65}}, {'name': 'Chinedu', 'age': 29, 'country': 'Nigeria', 'assignment_scores': {'assignment_1': 55, 'assignment_2': 60, 'assignment_3': 85}}]

In [91]:
print(cohort['student'][0]['assignment_scores']['assignment_3'])

KeyError: 'student'

In [99]:
cohort = {
    'course': 'Data Science', 
    'start':'Jan', 
    'end': 'Mar',
    'students': [
        {
            'name': 'Njogu',
            'age': 30, 
            'country': 'Kenya',
            'assignment_scores': {'assignment_1': 50, 'assignment_2': 70, 'assignment_3': 65}
        },
        {
            'name': 'Chinedu',
            'age': 29,
            'country': 'Nigeria',
            'assignment_scores': {'assignment_1': 55, 'assignment_2': 60, 'assignment_3': 85}
        }
    ]
}
print(cohort['students'][0]['assignment_scores']['assignment_3'])

65